<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'public/users/info', user: @post.user %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>投稿詳細</h2>
  		<table class='table'>
  		  <tr>
          <td>
            <% @post.images.each do |image| %>
              <%= image_tag image, size:"100x100" %>
            <% end %><br>
              <%= @post.user.name %>
          </td>
          <td><%= link_to @post.title, @post %></td>
          <td><%= @post.body %></td>
          <td class=<%= "favorite-" + @post.id.to_s %> >
            <%= render "public/favorites/btn", post: @post %>
          </td>
          <td class="post-comments-counter">
            <%= render "public/post_comments/counter", post: @post %>
          </td>
          <td class="view-count">閲覧数: <%#= @book.view_counts.count %></td>
          <% if @post.user == current_user %>
            <td><%= link_to 'Destroy', @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_post_#{@post.id}" %></td>
          <% end %>
        </tr>
      </table>

      <div class="post-comments-index">
        <%= render "public/post_comments/index", post: @post %>
      </div>

      <%= render "public/post_comments/form", post: @post, post_comment: @post_comment %>

    </div>
  </div>
</div>