<table class='table'>
  <div class="text-center"><%= image_tag user.get_profile_image, size:'150x150', class:"rounded-circle" %></div>
  <tr>
	  <th class="text-nowrap">アカウント名</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th class="text-nowrap">自己紹介文</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th class="text-nowrap">フォロー</th>
    <th><%= link_to user.followings.count, followings_user_path(user) %></th>
  </tr>
  <tr>
    <th class="text-nowrap">フォロワー</th>
    <th><%= link_to user.followers.count, followers_user_path(user) %></th>
  </tr>
</table>

<div class='row'>
  <% if current_user != user %>
    <td><%= render "public/relationships/btn", user: user %></td>
  <% else %>
    <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block edit_user_#{user.id}" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
    <%= link_to "新規投稿する", new_post_path, class: "btn btn-success mt-2" %>
  <% end %>

  <% if current_user != user && current_user.following?(user) && user.following?(current_user) %>
    <%= link_to 'chatを始める', chat_path(user.id), class: "ml-3" %>
  <% end %>
</div>