<!DOCTYPE html>
<html>
  <head>
    <title>Yamatabi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://kit.fontawesome.com/9eb88cfd56.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render 'layouts/public/header' %>
    <% elsif admin_signed_in? %>
      <%= render 'layouts/admin/header' %>
    <% else %>
      <%= render 'layouts/public/header' %>
    <% end %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
